.popup{
    position: fixed;
    right: 10px;
    top: 80px;
    background: var(--color-background);
    box-shadow: var(--cast) var(--color-surface);
    padding: var(--radius-md);
    display: flex;
    align-items: center;
    gap: .4rem;
    z-index: 10;
    border-radius: var(--radius-md);
    animation: var(--animate-side);
}